// $primary-color: #444;
$primary-color: black;
$background-opacity: 0.7;

// $home-image: url(/dist/img/sai-kiran-anagani-61187-unsplash.jpg);
// $home-image: url(/dist/img/christopher-gower-291246-unsplash.jpg);
$home-image: url(../img/raul-varzar-749952-unsplash.jpg);
// $about-image: url("../img/about2.jpg");
// $contact-image: url("../img/new4.jpg");
$home-image-small: url(../img/raul-varzar-749952-unsplash-small.jpg);
// $about-image-small: url("../img/about2-small.jpg");
// $contact-image-small: url("../img/new4-small.jpg");

@mixin background {
  &#bg-img {
    background: $home-image;
    background-attachment: fixed;
    background-size: cover;
    // try contain above.
    background-repeat: no-repeat;

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      background: rgba($primary-color, $background-opacity);
      z-index: -1;
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @include background;
  background: rgba($primary-color, 1);
  font-family: "Open Sans", sans-serif;

  a {
    text-decoration: none;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1em;
  }
  .containerMenu {
    position: fixed;
    top: 64px;
    right: 0;
    width: 100%;
    height: calc(100% - 64px);
    background: #fff;
    display: none;
    z-index: 10;
    ul {
      width: 100%;
      height: 100%;
      a {
        display: flex;
        width: 90vw;
        margin: auto;
        height: 10vh;
        border-bottom: 2px solid #f1f1f1;
        align-items: center;
        justify-content: center;
      }

      li {
        color: #4f4f4f;
        font-size: 1.5rem;
      }
    }
    // &.open {
    // visibility: visible;
    // }
  }
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  // background-color: rgba($color: whitesmoke, $alpha: 0.9);
  height: 96px;

  a {
    color: white;
  }
  .shrink {
    background-color: rgba(50, 50, 50, 1);
    transition: all ease 0.5s;
    height: 6vw;
  }

  .unshrink {
    background-color: rgba(100, 100, 100, 0.2);
    transition: all ease 0.5s;
    height: 10vw;
  }
  .navbar {
    min-height: 64px;
    max-height: 96px;
    a {
      .logo {
        height: 100%;
        // background-color: pink;
      }
    }

    ul {
      display: flex;
      align-items: center;
      height: 100%;
      // background-color: pink;
      // justify-content: space-around;
      // align-items: flex-start;
      float: right;
      li {
        padding: 4vw;
      }
    }
    .hamburger {
      display: none;
      .hamburger-inner,
      .hamburger-inner:after,
      .hamburger-inner:before {
        background-color: whitesmoke;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    color: whitesmoke;
    // font-weight: 600;
  }
  h3 {
    color: rgb(225, 225, 225);
    padding: 6px;
  }
}

.about {
  width: calc(100% - 64px);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  // background-color: pink;
  // background: rgba($color: #000000, $alpha: 0.5) overklay on it?
  background: rgb(167, 173, 186);
  // background: $about-image;
  // background-size: cover;
  // background-attachment: fixed;
  padding-left: 32px;
  padding-right: 32px;

  .overlayFull {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 0;
    // background: rgba(25, 25, 25, 0.6);
    background: #e8e8e8;
  }

  h1 {
    // color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
    padding-bottom: 16px;
  }
  h2 {
    // color: rgb(225, 225, 225);
    color: rgb(25, 25, 25);
    line-height: 125%;
    padding-bottom: 16px;
  }
  h3 {
    // color: rgb(200, 200, 200);
    color: rgb(50, 50, 50);
    line-height: 150%;
  }

  .text {
    padding: 50px;
    border: 1px solid #111;
    max-width: 50vw;
    z-index: 1;
  }
  .image {
    z-index: 1;
    img {
      background: #e8e8e8;
      max-width: 25vw;
      max-height: 70vh;
      height: auto;
      // -webkit-box-shadow: 0px 0px 80px -20px white;
      // -moz-box-shadow: 0px 0px 80px -20px white;
      // box-shadow: 0px 0px 80px -20px white;
    }
  }
}

.contact {
  width: calc(100% - 64px);
  padding-left: 32px;
  padding-right: 32px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: rgb(131, 145, 156);
  // color: whitesmoke;
  // background: $contact-image;
  // background-size: cover;
  // background-attachment: fixed;
  .overlayFull {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 0;
    // background: rgba(50, 50, 50, 0.6);
    background: #efefef;
  }
  h1 {
    border-top: 1px solid black;
    padding-top: 20px;
    color: rgb(0, 0, 0);
    // font-weight: bold;
    padding-bottom: 16px;
    z-index: 1;
    text-align: center;
  }
  h2 {
    text-align: center;
    // color: rgb(225, 225, 225);
    color: rgb(25, 25, 25);
    line-height: 125%;
    padding-bottom: 32px;
    z-index: 1;
  }
  h3 {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    z-index: 1;
  }
  h3 a {
    // color: rgb(75, 75, 75);
    // color: rgb(200, 200, 200);
    color: rgb(50, 50, 50);
    // color: white;
    line-height: 150%;
    display: flex;
    align-items: center;
    padding: 8px;
    z-index: 1;

    i {
      padding-right: 16px;
      z-index: 1;
    }
    span {
      z-index: 1;

      vertical-align: al;
    }
  }
}

.footer {
  background-color: rgb(50, 50, 50);
  color: rgb(200, 200, 200);
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h4 {
    padding-top: 12px;
    font-size: 0.5rem;
  }
}

#back-to-top {
  display: none;
  z-index: 10;
  color: white;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

@media only screen and (max-width: 760px) {
  //changed from 480px
  // logo on left
  // burger on right
  header {
    .navbar {
      ul {
        display: none;
        background-color: pink;
      }
      .hamburger {
        display: inline-block;
        height: 64px;
        position: fixed;
        right: 8px;
      }
    }
  }
  body {
    &#bg-img {
      background: $home-image-small;
    }
    h1 {
      font-size: 2.5rem;
      text-align: center;
    }
    h2 {
      font-size: 1.75rem;
      text-align: center;
    }
    h3 {
      font-size: 0.875rem;
      text-align: center;
    }
    .about {
      width: 100%;
      padding: 0;
      // background: $about-image-small;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      // padding-bottom: 16px;
      // padding-top: 64px;
      .image {
        padding-bottom: 8px;
        // padding: 32px;
        margin-top: 64px;
        img {
          max-width: 60vw;
          max-height: 40vh;
          height: auto;
        }
      }
      .text {
        padding: 20px;
        margin: 0 10px;
        // padding-bottom: 16px;
        max-width: 95vw;
      }
    }
    .contact {
      // background: $contact-image-small;
    }
  }
}
